@page "/"


<AuthorizeView>
    <Authorized>
        <figure class="text-center">
            <h1>Willkommen</h1>
            <h3>Username</h3>
        </figure>
    </Authorized>
    <NotAuthorized>
        <RedirectToLoginComponent/>
    </NotAuthorized>
</AuthorizeView>
